<div class="flex flex-col min-h-screen bg-[var(--background)] bg-noise">
  <header class="bg-noise bg-[#1a1a1a] min-h-14 py-3 px-4">
    <nav class="max-w-7xl mx-auto flex justify-between items-center">
      <a href="#">
        <img src="/logo.png" class="max-w-[100px]" alt="logo" />
      </a>
      <button
        class="font-geist-mono px-2 py-2 bg-indigo-600 hover:bg-indigo-700 text-white font-semibold text-sm rounded shadow transition duration-200 cursor-pointer"
        disabled>
        Connect Wallet
      </button>
    </nav>
  </header>
  <main class="flex-grow w-full mt-4 px-3 xl:px-0 max-w-7xl mx-auto">
    <div class="flex items-center gap-5 mb-6">
      <h2 class="text-xl font-geist-mono">
        Active Polls
      </h2>
      <span>-</span>
      <button class="w-fit bg-[#cecece] rounded py-1.5 px-4 font-geist-mono text-black font-semibold cursor-pointer
              hover:bg-gray-100 transition-colors duration-200">
        Create a Poll
      </button>
    </div>
    <section class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-2">
      <app-card-poll *ngFor="let poll of polls" [poll]="poll" />
    </section>
  </main>
  <footer class="mt-20 bg-noise bg-[#1a1a1a] min-h-14 py-3 px-4 flex items-center justify-center font-geist-mono gap-2">
    Luna
    <lucide-angular [img]="CopyrightIcon" [size]="20"></lucide-angular>
  </footer>

</div>